<!DOCTYPE html>
<html lang="en">
	<head>
		<title>FakeBook || login/register</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/login.css" />
		<script type="text/javascript" src="/login.js"></script>
	</head>
	<body style="background-color:#87CEFA">
		<form method="post" action="???" ID="LoginForm" name="formlogin">
			<div class="form-group">
				<label for="login_username">Username:</label>
				<input
					id="login_username"
					placeholder="Enter username"
					type="username"
					class="form-control"
					name="login_user"
				/>
				<label for="login_password">Password:</label>
				<input
					id="login_password"
					name="login_pass"
					type="password"
					class="form-control"
					placeholder="Enter password"
				/>
			</div>
			<button type="submit" class="btn btn-default">Log In</button>
		</form>
		<p>Or, if you don't have an account yet:</p>

		<div class="text-center">
			<a
				href="#register"
				class="btn btn-info"
				data-toggle="modal"
				onclick="openModal()"
				>Register an Account</a
			>
		</div>

		<!-- Modal HTML -->
		<div id="register" class="modal fade">
			<div class="modal-dialog modal-login">
				<div class="modal-content">
					<div class="modal-header">
						<div class="avatar">
							<img
								src="https://www.tutorialrepublic.com/examples/images/avatar.png"
								alt="Avatar"
							/>
						</div>
						<h4 class="modal-title">Register an Account</h4>

						<button
							type="button"
							class="close"
							data-dismiss="modal"
							aria-hidden="true"
						>
							&times;
						</button>
					</div>
					<div class="modal-body">
						<form action="/users/register" method="post">
							<div class="form-group">
								<input
									type="text"
									class="form-control"
									name="username"
									placeholder="Username"
									required="required"
								/>
							</div>
							<div class="form-group">
								<input
									type="email"
									class="form-control"
									name="email"
									placeholder="email"
									required="required"
								/>
							</div>
							<label for="birthday">Birth Date:</label>
							<div class="form-group">
								<input
									type="date"
									id="birthday"
									name="birthday"
									value="2019-04-01"
									class="form-control"
								/>
							</div>
							<div class="form-group">
								<input
									id="psw"
									type="password"
									class="form-control"
									name="password"
									placeholder="Password"
									required="required"
								/>
							</div>
							<div class="form-group">
								<input
									id="cpsw"
									type="password"
									class="form-control"
									name="confirm password"
									placeholder="Confirm Password"
									required="required"
								/>
							</div>
							<div class="form-group">
								<button
									id="my_submit_button"
									class="btn btn-primary btn-block login-btn"
									disabled
									onClick=""
								>
									Register
								</button>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<div id="message" style="display:block">
							<h3>Password must contain the following:</h3>
							<p id="letter" class="invalid">A <b>lowercase</b> letter</p>
							<p id="capital" class="invalid">
								A <b>capital (uppercase)</b> letter
							</p>
							<p id="number" class="invalid">A <b>number</b></p>
							<p id="length" class="invalid">Minimum <b>8 characters</b></p>
							<p id="match" class="invalid">
								Password and Confirm Password Match
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
